html, body, #root, .main {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

.main {
  
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  /* background: radial-gradient(ellipse at center, rgba(49,16,47,1) 0%, rgba(40,11,41,1) 100%); */
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.component-container {
  width:100vw;
  height: 100vh; 
}

 /*Home css */
.home {
  width:100%;
  height: 100%;
  display: flex; 
  justify-content: center; 
  align-items: center;  
}



.home-content {
  display: flex;
  min-width: 600px; /* Minimum width */
  min-height: 400px; /* Minimum height */
  border: 2px solid #ccc; /* Example border */
  background-color: #ccc;
  border-radius: 15px;
}

.home-panel-title {
font-size: 1.2em;
font-weight: bold;
margin-bottom: 10px;
}

/* Home left panel */
.home-left-panel {
  flex: 1; /* Takes up available space */
  display: flex;
  padding: 10px;
  border-right: 2px solid #ccc; /* Separator line */
  flex-direction: column;
  align-items: center;

}

/* Upper */
.home-left-panel-upper{
flex: 1;
display: block;
}

.logo-container {
  border: 5px solid #000000;
  border-radius: 15px;
}


/* Middle */
.home-left-panel-middle{
  flex: 2;
  flex-direction: column;
  display: flex;
}

.home-menu-panel {
  flex: 1; /* 3/6 of the height */
  padding: 20px;
  border-right: 2px solid #ccc; /* Separator line */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-menu-button {
  width: 80%;
  margin-bottom: 5px;
  height: 80px;
  border-radius: 15px;
  background-color: #e3eff6;
  font-size: 20px;
  font-family:sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.home-menu-button:nth-child(1) { /* Target the "JOIN GAME" button */
  height: 150px; /* Increase height */
  font-size: 30px; /* Increase font size */
  width: 90%; /* Increase width */
  background-color: #21527b;
}

.home-menu-button:hover{
  background-color: #f6eee3;
}

.home-menu-button:active{
  background-color: #e4b36f;
}


/* Lower */
.home-left-panel-lower{
  flex: 1;
  flex-direction: row;
  display: flex;
}

.settings-button-container {
  flex: 1; /* 1/6 of the height */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.settings-button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #e3eff6;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.settings-button:hover {
  background-color: #f6eee3;
}


.settings-button:active {
  background-color: #e4b36f;
}

.home-menu-button:active{
  background-color: #e4b36f;
}

.home-buttons-panel {
  height:auto;
  display: grid;
  align-items: center;
}

.home-right-panel {
  flex: 1; /* Takes up available space */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Align items vertically in the right panel */
  align-items: center; /* Center horizontally in right panel */
}

.home-camera-container {
  width: 300px; /* Adjust camera size as needed */
  height: 300px; /* Adjust camera size as needed */
  border: 5px solid #000000;  /* Visual border for camera container */
  border-radius: 15px;
}

.home-camera-panel {
  border-radius: 8px;
}

/*Camera css */
.camera-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #000000;
  background-color: aliceblue;
  border-radius: 15px;
}

.camera-container video {
  object-fit: cover;
  text-align: center;
  border-radius: 8px;
}

.leaderboard {
  background: linear-gradient(to bottom, rgb(40, 70, 90) 0%, rgb(130 177 223) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.leaderboard-title {
  position: absolute;
  top: 20px;
  font-size: 40px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.leaderboard-players-container {
  background-color: #21527b;
  border: 2px solid white;
  height: 80%;
  width: 60%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leaderboard-player-container {
  border-bottom: 2px solid white;
  height: 100vh;
  display: grid;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px;
  grid-template-columns: 50px 1fr 1fr;
  place-items: center;
}

.leaderboard-player-container:last-child {
  border-bottom: none;
}

.leaderboard-place {
  font-size: 40px;
  font-weight: bold;
}

.leaderboard-name, .leaderboard-score {
  font-size: 30px;
}

.play-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  background-color: #6e6b6b;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 10px;
}

.top-box {
  flex: 1;
  height: 105px;
  margin: 5px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.top-box:first-child {
  flex: 0.75;
}

.top-box:nth-child(2), 
.top-box:nth-child(3) {
  flex: 1.25;
}

.main-section {
  display: flex;
  flex: 1;
  gap: 10px;
}

.score-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 575px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.score-box {
  width: 350px;
  height: 150px;
  background-color: #f7f7f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

.skip-button {
  width: 100%; 
  padding: 30px;
  font-size: 25px;
  background-color: #3392ea; 
  color: rgb(9, 9, 9);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.skip-button:hover {
  background-color: #739ed2;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.timer-label {
  font-size: 18px; 
  font-weight: bold;
  color: #100f0f;
}

.timer-count {
  font-size: 68px;
  font-weight: bold;
  color: #0d0d0d; 
}

.skip-count {
  font-size: 35px;
  font-weight: bold;
  color: #0a0a0a;
  margin-top: 10px;
  text-align: center;
}

.camera-box {
  flex: 3;
  width: 100%;
  height: 600px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-box video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
}

.reset-timer {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.reset-timer-label {
  font-size: 24px;
  color: #2c2b2b;
}

.reset-timer-count {
  font-size: 28px;
  font-weight: bold;
  color: #222323;
  margin-top: 5px; 
}

